.funny-glasses {
    position: relative;
    top: 255px;
    right: 155px;
}
.bandana {
    position: absolute;
    left: 100px;
    bottom: 85px;
}


.pawprint {
    position: fixed;
    top: 45px;
    left: 65px;
}

.luna {
    position: absolute;
}

.top-hat {
    position: relative;
    z-index: 1;
}